(
    pre_boss: [
        // Direction = 1.0 (oscillation douce)
        (spawn_time: 1.0, pos: (-130.0, 240.0), direction: 1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 1.5, pos: (-130.0, 240.0), direction: 1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 2.0, pos: (-130.0, 240.0), direction: 1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 2.5, pos: (-130.0, 240.0), direction: 1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 3.0, pos: (-130.0, 240.0), direction: 1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 3.5, pos: (-130.0, 240.0), direction: 1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),

        // Direction = -1.0 pour une oscillation en miroir.
        (spawn_time: 5.5, pos: (130.0, 240.0), direction: -1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 6.0, pos: (130.0, 240.0), direction: -1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 6.5, pos: (130.0, 240.0), direction: -1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 7.0, pos: (130.0, 240.0), direction: -1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 7.5, pos: (130.0, 240.0), direction: -1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),
        (spawn_time: 8.0, pos: (130.0, 240.0), direction: -1.0, hp: ( hp: 50.0 ), variety: 'c', pattern: SineWave),

        // Ils partent de la gauche et glissent vers la droite (direction: 1.0)
        (spawn_time: 12.0, pos: (-100.0, 240.0), direction: 1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: Arc(60.0)),
        (spawn_time: 12.4, pos: (-100.0, 240.0), direction: 1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: Arc(60.0)),
        (spawn_time: 12.8, pos: (-100.0, 240.0), direction: 1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: Arc(60.0)),
        (spawn_time: 13.2, pos: (-100.0, 240.0), direction: 1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: Arc(60.0)),

        // Ils partent de la droite et glissent vers la gauche (direction: -1.0)
        (spawn_time: 17.5, pos: (100.0, 240.0), direction: -1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: Arc(60.0)),
        (spawn_time: 17.9, pos: (100.0, 240.0), direction: -1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: Arc(60.0)),
        (spawn_time: 18.3, pos: (100.0, 240.0), direction: -1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: Arc(60.0)),
        (spawn_time: 18.7, pos: (100.0, 240.0), direction: -1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: Arc(60.0)),

        (spawn_time: 20.5, pos: (-150.0, 350.0), direction: 1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: StraightPause(120.0)),
        (spawn_time: 21.0, pos: (150.0, 350.0), direction: 1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: StraightPause(120.0)),
        (spawn_time: 21.5, pos: (0.0, 350.0), direction: 1.0, hp: ( hp: 150.0 ), variety: 'a', pattern: StraightPause(160.0)),

        // 3 paires d'anges en ZigZag descendant au milieu
        (spawn_time: 23.5, pos: (-20.0, 240.0),  direction: 1.0,  hp: (hp: 150.0), variety: 'a', pattern: Straight),
        (spawn_time: 23.5, pos: (20.0, 240.0),   direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: Straight),

        (spawn_time: 24.5, pos: (-20.0, 240.0),  direction: 1.0,  hp: (hp: 150.0), variety: 'a', pattern: Straight),
        (spawn_time: 24.5, pos: (20.0, 240.0),   direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: Straight),

        (spawn_time: 27.5, pos: (-20.0, 240.0),  direction: 1.0,  hp: (hp: 150.0), variety: 'a', pattern: ZigZag(100.0)),
        (spawn_time: 28.5, pos: (20.0, 240.0),   direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: ZigZag(100.0)),

        // Ils utilisent Arc(100.0) pour traverser l'écran vers le bas-droite
        (spawn_time: 30.0, pos: (-180.0, 240.0), direction: 1.0, hp: (hp: 80.0), variety: 'c', pattern: Arc(100.0)),
        (spawn_time: 30.2, pos: (-180.0, 240.0), direction: 1.0, hp: (hp: 80.0), variety: 'c', pattern: Arc(100.0)),
        (spawn_time: 30.4, pos: (-180.0, 240.0), direction: 1.0, hp: (hp: 80.0), variety: 'c', pattern: Arc(100.0)),
        (spawn_time: 30.6, pos: (-180.0, 240.0), direction: 1.0, hp: (hp: 80.0), variety: 'c', pattern: Arc(100.0)),
        (spawn_time: 30.8, pos: (-180.0, 240.0), direction: 1.0, hp: (hp: 80.0), variety: 'c', pattern: Arc(100.0)),

        // Le pattern Spiral(10.0) les fait tourner sur eux-mêmes en descendant
        (spawn_time: 31.0, pos: (0.0, 240.0), direction: 1.0,  hp: (hp: 150.0), variety: 'a', pattern: ZigZag(50.0)),
        (spawn_time: 32.5, pos: (0.0, 240.0), direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: ZigZag(50.0)),
        (spawn_time: 34.0, pos: (0.0, 240.0), direction: 1.0,  hp: (hp: 150.0), variety: 'a', pattern: ZigZag(50.0)),
        (spawn_time: 35.5, pos: (0.0, 240.0), direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: ZigZag(50.0)),

        // CROIX
        // --- PARTIE 1 : LE POTEAU VERTICAL (Ligne centrale) ---
        (spawn_time: 40.0, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.15, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.30, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.45, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight), 

        // 2. La barre horizontale (Spawn simultané à 40.45s)
        (spawn_time: 40.45, pos: (-30.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.45, pos: (-20.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.45, pos: (-10.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.45, pos: (10.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.45, pos: (20.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.45, pos: (30.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),

        // 3. Haut du poteau (On rajoute 3 chérubins APRÈS la barre pour fermer la croix en haut)
        (spawn_time: 40.60, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.75, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 40.90, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 41.05, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 41.20, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
        (spawn_time: 41.35, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 70.0), variety: 'c', pattern: Straight),
    ],
    boss: (spawn_time: 15.00, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 4000.0), variety: 'b', pattern: Straight),
    post_boss: [
        (spawn_time: 1.0, pos: (-150.0, 240.0), direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(150.0)),
        (spawn_time: 1.2, pos: (-100.0, 240.0), direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(150.0)),
        (spawn_time: 1.4, pos: (-50.0, 240.0),  direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(150.0)),
        
        (spawn_time: 4.0, pos: (150.0, 240.0),  direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(150.0)),
        (spawn_time: 4.2, pos: (100.0, 240.0),  direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(150.0)),
        (spawn_time: 4.4, pos: (50.0, 240.0),   direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(150.0)),

        (spawn_time: 8.0, pos: (-180.0, 240.0), direction: 1.0, hp: (hp: 100.0), variety: 'c', pattern: SineWave),
        (spawn_time: 8.5, pos: (180.0, 240.0),  direction: -1.0, hp: (hp: 100.0), variety: 'c', pattern: SineWave),
        (spawn_time: 9.0, pos: (-180.0, 240.0), direction: 1.0, hp: (hp: 100.0), variety: 'c', pattern: SineWave),
        (spawn_time: 9.5, pos: (180.0, 240.0),  direction: -1.0, hp: (hp: 100.0), variety: 'c', pattern: SineWave),

        (spawn_time: 15.0, pos: (0.0, 240.0),   direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(70.0)),
        (spawn_time: 16.0, pos: (-80.0, 240.0),  direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(70.0)),
        (spawn_time: 16.0, pos: (80.0, 240.0),   direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: StraightPause(70.0)),
        
        (spawn_time: 18.0, pos: (-200.0, 240.0), direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: Arc(45.0)),
        (spawn_time: 18.5, pos: (-200.0, 240.0), direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: Arc(45.0)),
        (spawn_time: 19.0, pos: (-200.0, 240.0), direction: 1.0, hp: (hp: 150.0), variety: 'a', pattern: Arc(45.0)),

        (spawn_time: 22.0, pos: (-100.0, 240.0), direction: 1.0,  hp: (hp: 150.0), variety: 'a', pattern: ZigZag(80.0)),
        (spawn_time: 22.0, pos: (100.0, 240.0),  direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: ZigZag(80.0)),
        
        (spawn_time: 24.0, pos: (-100.0, 240.0), direction: 1.0,  hp: (hp: 150.0), variety: 'a', pattern: ZigZag(80.0)),
        (spawn_time: 24.0, pos: (100.0, 240.0),  direction: -1.0, hp: (hp: 150.0), variety: 'a', pattern: ZigZag(80.0)),

        (spawn_time: 28.0, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 100.0), variety: 'c', pattern: Straight),
        (spawn_time: 28.2, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 100.0), variety: 'c', pattern: Straight),
        (spawn_time: 28.2, pos: (-20.0, 240.0), direction: 1.0, hp: (hp: 100.0), variety: 'c', pattern: Straight),
        (spawn_time: 28.2, pos: (20.0, 240.0),  direction: 1.0, hp: (hp: 100.0), variety: 'c', pattern: Straight),
        (spawn_time: 28.4, pos: (0.0, 240.0), direction: 1.0, hp: (hp: 100.0), variety: 'c', pattern: Straight),
    ]

)
